<footer class="site-footer">
  <div class="footer-logos">
    <div class="logos-grid">
      <div class="logo-item">
        <img
          src="{{ site.baseurl }}/assets/images/logos/IMPERIAL_logo_RGB_Blue_safe_area_2024.png"
          alt="Imperial College London"
          class="logo-image"
        />
      </div>
      <div class="logo-item">
        <img
          src="{{ site.baseurl }}/assets/images/logos/University_of_Edinburgh-Logo.wine.svg"
          alt="University of Edinburgh"
          class="logo-image"
        />
      </div>
      <div class="logo-item logo-item-chai">
        <img
          src="{{ site.baseurl }}/assets/images/logos/CHAI_LOGO_-STANDARD.png"
          alt="CHAI Hub"
          class="logo-image"
        />
      </div>
      <div class="logo-item">
        <img
          src="{{ site.baseurl }}/assets/images/logos/RAEng.png"
          alt="Royal Academy of Engineering"
          class="logo-image"
        />
      </div>
      <div class="logo-item">
        <img
          src="{{ site.baseurl }}/assets/images/logos/UKRI_EPSR_Council-Logo_Horiz-RGB.png"
          alt="UKRI EPSRC"
          class="logo-image"
        />
      </div>
      <div class="logo-item">
        <img
          src="{{ site.baseurl }}/assets/images/logos/CERSI_AI_Logo-Medium.png"
          alt="CERSI AI"
          class="logo-image"
        />
      </div>
    </div>
  </div>
  <div class="footer-disclaimer">
    <p>
      This project was supported by the UKRI AI programme, and the EPSRC, for
      CHAI - EPSRC Causality in Healthcare AI Hub [EP/Y028856/1], by the Royal
      Academy of Engineering as part of the Kheiron/RAEng Research Chair, by the
      Centre of Excellence for Regulatory Science &amp; Innovation in AI &amp;
      Digital Health Project Support Fund [ref PSF04], and through Imperial's
      UKRI Impact Acceleration Account [EP/X52556X/1]. DCM is supported by an
      MRC clinical research training fellowship [MR/Y000404/1] and the Mittal
      Fund at Cleveland Clinic Philanthropy. CVC is supported by an NIH grant
      [T32HL116275]. The authors acknowledge the use of resources provided by
      the Isambard-AI National AI Research Resource (AIRR). Isambard-AI is
      operated by the University of Bristol and is funded by the UK Government's
      Department for Science, Innovation and Technology (DSIT) via UKRI; and the
      Science and Technology Facilities Council [ST/AIRR/I-A-I/1023].
    </p>
  </div>
  <div class="footer-content">
    <p>&copy; {{ 'now' | date: '%Y' }} BioMedIA, Imperial College London.</p>
    <div class="footer-links">
      {% if site.author.email %}
      <a href="mailto:{{ site.author.email }}">
        <i class="fas fa-envelope"></i> Contact
      </a>
      {% endif %}
    </div>
  </div>
</footer>
